@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Forum";
  src: url("../assets/fonts/Forum/Forum-Regular.ttf");
  font-weight: 400;
}

* {
  margin: 0; 
} 

html {
  font-size: 22px;
  scroll-behavior: smooth;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 25.78px;
  font-weight: 300;
  color: #ffffff;  
}
.wrapper {
  margin: 0 auto;  
  max-width: 1440px;  
}
@media screen and (max-width: 1024px) {   
  .wrapper {  
  padding: 0 20px;  
  }
}
h1 {
  font-family: "Forum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 150px;
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 50px;
    margin: 50px 0 25px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    margin: 0;    
  }
}
@media screen and (max-width: 420px) {
  h1 {
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    padding-top: 5px;    
  }
}
h2 {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 75px 0 25px;
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 50px;
    line-height: 75px;
    padding: 60px 0 20px;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    padding: 40px 0 20px;
  }
}
@media screen and (max-width: 420px) {
  h2 {    
    font-size: 28px;
    line-height: 0px;
    padding: 40px 0 20px;
  }
}
.section__light h2 {
  color: #9D8665;
}
h3 {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  h3 {
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 420px) {
  h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}
.section__dark {
  background-color: #030303;
  color: #ffffff;
}
.section__light {
  background-color: #DBDBDB;
  color: #000000;
}
hr {
  max-width: 1440px;
  width: 100%;
  height: 3px;
  left: 0px;  
  background: #710707;
  border-radius: 0px; 
  margin: 0 0 75px; 
}
@media screen and (max-width: 1024px) {
  hr {
    margin: 0 0 60px;
  }
}
@media screen and (max-width: 768px) {
  hr {
    margin: 0 0 40px;
  }
}
/* header */
.header__wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.header-logo {
  display: flex;
  height: 33px;
  margin: 0;
}
.header__logo span {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-left: 25px;
}
@media (max-width: 768px) {
  .header__logo span {
    line-height: 50px;
  }
}
@media (max-width: 420px) {
  .header__logo span {
    font-size: 16px;
    line-height: 18px;
  }
}
.header {
  padding: 59px 0 58px; 
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 49px 0 48px;
  }  
}
@media screen and (max-width: 768px) {
  .header {
    padding: 35px 0 34px 0;
  }  
}
@media screen and (max-width: 420px) {
  .header {
    padding: 35px 0;
  }  
}
@media screen and (max-width: 420px) {
  .header__logo img {
    max-width: 29px;
  }  
}
.header-nav {
  display: flex;
  margin: 0;  
}
@media screen and (max-width: 1024px) {
  .header-nav {
    display: none;
  }
}
.navigation {
  display: flex;
}
.header-item {    
  list-style: none;
  margin-right: 55px;
}
.header-item:last-child {
  margin-right: 0px;
}
.header-link {
  list-style: none;
  text-decoration: none;
  font-weight: 200;
  letter-spacing: 2px;
  color: #ffffff;
}
.header-link:hover {
  color: #9D8665;
}
.header-link:active {
  color: #7E6C51;
}
.hamburger {
  display: none;
  position: relative;
  width: 32px;
  height: 18px;   
}
@media screen and (max-width: 1024px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger::before {
  display: inline-block;
  position: absolute;
  content: '';
  width: 32px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  top: 0;
  right: 0;
}
.hamburger::after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 32px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  bottom: 0;
  right: 0;
}
.hamburger__line {
  display: inline-block;
  position: absolute;
  content: '';
  width: 32px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  top: calc(50% - 1px);
  right: 0;  
}

/* welcom */

.welcom__wrapper { 
  display: block;  
  position: relative;
  height: 810px; 
}

@media screen and (max-width: 1024px) {
  .welcom__wrapper {
   height: 585px; 
  }
}
@media screen and (max-width: 768px) {
  .welcom__wrapper {
     height: auto;
     position: static;
  }
}
@media screen and (max-width: 420px) {
  .welcom__wrapper {
     height: auto;     
  }
}
.welcom__content {
  position: absolute;
  width: 598px; 
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .welcom__content {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    align-content: center;
    position: static;
    margin: auto;
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .welcom__content a {
    display: none;
  }
}
.welcom__content_text {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  margin-top: 25px;
}
@media screen and (max-width: 1024px) {
  .welcom__content_text {
    font-size: 24px;
    line-height: 28px;
    margin: 25px 0 50px;
  }
}
@media screen and (max-width: 768px) {
  .welcom__content_text {    
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    
  }
}
@media screen and (max-width: 420px) {
  .welcom__content_text {     
    font-size: 16px;
    line-height: 19px;    
  }
}
.welcom__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 60px;
}
@media screen  and (max-width: 1024px) {
  .welcom__image {
    max-width: 700px;
  }
}
  @media screen and (max-width: 768px) {
    .welcom__image {
      display: none;      
    }
  }
.welcom__image-2 {
  display: none;
}
@media (max-width: 768px) {
  .welcom__image-2 {
    display: block;
    position: static;        
    max-width: 100%;
    height: auto;
  }  
}
.welcom__slider {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  background-color: #030303;  
  right: 0;
  bottom: 0;
}
@media screen  and (max-width: 1024px) {
  .welcom__slider {    
    bottom: 0;
  }
}
@media screen  and (max-width: 768px) {
  .welcom__slider {
    position: static;    
  }
}
.welcom__slider_date {
  margin: 40px 55px 40px 74px;;
}
@media screen and (max-width: 1024px) {
  .welcom__slider_date {
    width: 71px;
    margin: 40px 0 40px 224px;
  }
}
@media screen and (max-width: 768px) {
  .welcom__slider_date {    
    margin: 30px 0 30px 164px;
  }
}
@media screen and (max-width: 420px) {
  .welcom__slider_date {
    width: 50px;
    height: 40px;
    margin: 20px 0 20px 75px;
  }
}
.welcom__slider_pagination {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 60px;
}
@media screen  and (max-width: 1024px) {
  .welcom__slider_pagination {
    width: auto;
    margin: 0 45px;
  }
}
@media screen and (max-width: 768px) {
  .welcom__slider_pagination {
     margin: 0 45px; 
  }
}
@media screen  and (max-width: 420px) {
  .welcom__slider_pagination {
    margin: 0 25px;
  }
}
.welcom__slider_pagination img {
  margin-right: 25px;  
}
.welcom__slider_pagination img:last-child {
  margin-right: 0;
}
@media screen and (max-width: 420px) {
  .welcom__slider_pagination img {
    width: 7px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 420px) {
  .welcom__slider_pagination img:last-child {   
    margin-right: 0;
  }
}
@media screen and (max-width: 1024px) {
  .welcom__slider_pagination img {
    width: 12px;
  }
}

.welcom__slider_pagination img:active {
  background: #D2B183;
}

.welcom__slider_arrows {
  display: flex;
  justify-content: space-between;
  width: 80px;
  margin-right: 75px;
}
@media screen and (max-width: 768px) {
  .welcom__slider_arrows {
    margin-right: 163px; 
  }
}
@media screen and (max-width: 420px) {
  .welcom__slider_arrows {
    width: 55px;
    margin-right: 75px; 
  }
}
.slider_arrow1 {
  margin-right: 20px;
}
.slider_arrow1:last-child {
  margin-right: 0;
}
@media screen and (max-width: 420px) {
  .slider_arrow1 {    
    display: none; 
  }
}
.slider_arrow1 {
  background: #030303;
  border: none;
  padding: 0;
}
.slider_arrow1:hover .arrow1 {
  fill: #9D8665;
}
.arrow1 {
 fill: white;
}
.slider_arrow2 {
  display: none;
  background: #030303;
  border: none;
  padding: 0;
  margin-right: 15px;
}
.slider_arrow2:last-child {
  margin-right: 0;
}
.slider_arrow2:hover .arrow2 {
  fill: #9D8665;
}
@media screen and (max-width: 420px) {
  .slider_arrow2 {    
    display: flex; 
  }
}
.arrow2 {
  fill: #ffffff;
}
.welcom__button {
  width: 360px;
  height: 75px;
  left: 0px;
  top: 0px;
  background: #710707;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;  
  letter-spacing: 2px;
  text-decoration: none;
  color: #ffffff;
  margin-top: 75px;  
  margin-left: 0;
}
@media screen  and (max-width: 1024px) {
  .welcom__button {
    width: 300px;
    height: 60px;
    font-size: 20px;
    line-height: 23px;
    margin: 0;
  }
}
.welcom__button:hover {
  background: #9D8665;
}

/* visiting */

.virtual {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .virtual {
    flex-wrap: wrap;    
    padding: 0 54px;       
  }    
}
@media screen and (max-width: 1024px) {
  .virtual {       
    padding: 0 28px;       
  }    
} 
@media screen and (max-width: 1024px) {
  .visit {
    flex: 1 1 auto;     
     margin: 0 54px;         
  }    
}
@media screen and (max-width: 768px) {
  .visit {        
    margin: 0 28px;    
  }    
}
.visiting__image img {
  margin: 0;
  width: 440px;
  height: auto;
}
@media screen and (max-width: 1024px) {
  .visiting__image img {
    width: 330px;    
  }
}
@media screen and (max-width: 768px) {
  .visiting__image img {
    width: 280px;    
  }
}
h3 {
  margin: 25px 0 0;    
}
.visit hr {
  max-width: 300px;
  height: 2px;
  margin-left: 0px;
  top: 355px; 
  background: #710707;
  border-radius: 0px;
  margin: 10px 0;
  border: 0;
}
@media screen and (max-width: 1024px) {
  .visit hr {
    width: 150px;
    left: 1px;
  }
}
.tour {
  font-weight: 200;
  margin: 10px 0 10px;  
}
@media screen and (max-width: 1024px) {
  .tour {
    font-size: 20px;
    line-height: 23px;
  }
}
@media screen and (max-width: 768px) {
  .tour {
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
  }
}
@media screen and (max-width: 420px) {
  .tour {
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
  }
}
.view {
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 75px;
}
@media screen and (max-width: 1024px) {
  .view {
    font-size: 16px;
    line-height: 19px;
    padding: 0 0 60px;
  }
}
@media screen and (max-width: 768px) {
  .view {
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    padding: 0 0 40px;
  }
}
@media screen and (max-width: 420px) {
  .view {
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
  }
}

/* explore */

.explore__wrapper {
  display: flex;
  flex-wrap: wrap;    
  justify-content: space-between;    
}
@media screen and (max-width: 1024px) {
  .explore__wrapper {
    display: block;
  }
}
.explorer__text{
  max-width: 660px;
  margin-right: 60px;
}
@media screen and (max-width: 1024px) {
  .explorer__text {
    max-width: 984px;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .explorer__text p{
    display: none;
  }
}
.explore p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 25px;
}
@media screen and (max-width: 1024px) {
  .explore p {
    font-size: 20px;
    margin: 0;
  }
}
.explorer__text span {
  color: #9D8665;
}
@media screen and (max-width: 1024px) {
  .explorer__text-none {
    display: none;  }
}
.explorer__image {   
  position: relative;
  padding: 90px 0 75px;
}
@media screen and (max-width: 1024px) {
  .explorer__image {
    padding: 62px 132px 60px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
}
@media screen and (max-width: 768px) {
  .explorer__image {
    padding: 0 0 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
}
@media screen and (max-width: 420px) {
  .explorer__image {
    width: 100%;
    padding: 0 0 40px;
    display: block;
      }
}
  .explorer__image__1 { 
  position: absolute; 
  margin-right: 280px;
  z-index: 1;  
} 
@media screen and (max-width: 420px) {
  .explorer__image__1 {
    width: 230px;
    height: 368px;    
  }
}
@media screen and (max-width: 420px) {
  .explorer__image__2 {
    width: 380px;
    height: 368px;
  }
}
.explorer__image__3 {
  position: absolute;
    left: 421px;
    top: 90px;
    z-index: 3;
}
@media screen and (max-width: 420px) {
.explorer__image__3 {
  width: 20px;
  height: 368px;
}
}
@media screen and (max-width: 1024px) {
  .explorer__image__3 {
    left: 56.48%;
    top: 62px;
  }
}
@media screen and (max-width: 768px) {
  .explorer__image__3 {
    left: 58.3%;
    top: 0;
  }
}

/* video */

.video {
  height: 1396px;
}
@media (max-width: 1024px) {
  .video {
    height: 972px;
  }
}
@media (max-width: 768px) {
  .video {
    height: 837px;
  }
}
@media (max-width: 420px) {
  .video {
    height: 487px;
  }
}
.title__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px 0;
}
@media screen and (max-width: 1024px) {
  .title__wrapper  {    
    padding: 0;
  }
}
.title__wrapper h2{
  padding: 0;
}
@media screen and (max-width: 1024px) {
  .title__wrapper h2  {    
    padding: 60px 0 40px;
  }
}
@media screen and (max-width: 1024px) {
  .title__wrapper h2  {    
    padding: 40px 0 20px;
  }
}
.title__wrapper p {
  max-width: 720px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  margin-right: 0;
}
@media screen and (max-width: 1024px) {
  .title__wrapper p {
    display: none;
  }
}
.video__content img {
  max-width: 100%;
}
.video__poster {
  display: flex;  
  justify-content: space-between; 
  padding: 40px 0;
  height: 254px;   
}
@media (max-width: 1024px) {
  .video__poster {
    height: 170px;
  }
}
@media (max-width: 768px) {
  .video__poster {
    height: 199px;
    padding: 21px 0;
  }
}
@media (max-width: 420px) {
  .video__poster {
    height: 101px;
    padding: 40px 0;
  }
}
.poster {  
  position: relative;
  width: calc(1/3*100% - (1 - 1/3)*42px); 
  padding: 0 0 40px; 
}
@media (max-width: 1024px) {
  .poster {
    width: calc(1/3*100% - (1 - 1/3)*41px);
  }
}
@media (max-width: 768px) {
  .poster {
    width: calc(1/2*100% - (1 - 1/2)*20px);    
  }
}
@media (max-width: 420px) {
  .poster {
    width: calc(1/2*100% - (1 - 1/2)*20px);
  }
}
@media (max-width: 768px) {
  .poster-3 {
    display: none;
  }
}
.poster__image-1 {
  position: absolute;
}
@media (max-width: 1024px) {
  .poster__image-1 {
    width: 300px;    
  }
}
@media (max-width: 768px) {
  .poster__image-1 {
    width: 354px;    
  }
}
@media (max-width: 420px) {
  .poster__image-1 {
    display: none;    
  }
}
.poster__image-2 {
  display: none;
  position: absolute;
}
@media (max-width: 420px) {
  .poster__image-2 {
    display: block;
    width: 180px;
  }
}
.poster__inner {
  position: absolute;
  display: flex;  
  align-items: center;
  top: 15px;
  left: 10px;
  right: 36px;  
}
@media (max-width: 1024px) {
  .poster__inner {
    top: 10px;
    right: 35px;
  }
}
@media (max-width: 420px) {
  .poster__inner {
    top: 10px;
    right: 10px;
  }
}
.video__poster__icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.poster-text1 {
  font-weight: normal;
  font-size: 18px;
  line-height: 38px;
  color: #FFFFFF;
  margin-right: auto; 
}
@media (max-width: 1024px) {
  .poster-text1 {
    display: none;
  }
}
.poster-text2 {
  display: none;
  font-size: 18px;
  line-height: 38px;
  color: #FFFFFF;
  margin-right: auto; 
}
@media (max-width: 1024px) {
  .poster-text2 {
    display: block;
  }
}
@media (max-width: 420px) {
  .poster-text2 {
    display: none;    
  }
}
.poster-text3 {
  display: none;
  font-size: 18px;
  line-height: 38px;
  color: #FFFFFF;
}
@media (max-width: 420px) {
  .poster-text3 {
    display: block;    
  }
}
.video__poster__menu {
  width: 4px;
  height: 16px;  
}
@media (max-width: 420px) {
  .video__poster__menu {
    display: none;
  }
}
.video__slider {
  display: flex;
  justify-content: center;
}
.video__slider img {
  color: #999999;
  margin-right: 20px;
}
.video__slider img:last-child {
  margin-right: 0;
}
@media (max-width: 1024px) {
  .video__slider {
    padding-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .video__slider {
    padding-bottom: 80px;
  }
}
@media (max-width: 420px) {
  .video__slider {
    padding-bottom: 40px;
  }
}

/* gallery */

.gallery__images {
  display: flex;
  flex-direction: column;  
  flex-wrap: wrap;    
  justify-content: flex-end;
  align-content: space-between;  
  height: 1984px;    
}
@media screen and (max-width: 1024px) {
  .gallery__images {
    height: 1360px;
  }
}
@media screen and (max-width: 768px) {
  .gallery__images {
    display: none;    
  }
}
.gallery__images-2 {
  display: none;
  flex-direction: column;  
  flex-wrap: wrap;    
  justify-content: flex-end;
  align-content: space-between;  
  height: 1105px;
}
@media screen and (max-width: 768px) {
  .gallery__images-2 {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .gallery__images-2 img {
    margin-top: 24px;
  }
}
@media screen and (max-width: 420px) {
  .gallery__images-2 {
    display: none;
  }
}
.gallery__images-3 {
  display: none;
  flex-wrap: wrap;
  flex-direction: column;    
  justify-content: flex-end;
  align-content: space-between;
  height: 661px;
}
@media screen and (max-width: 420px) {
  .gallery__images-3 {
    display: flex;    
  }
}
@media screen and (max-width: 768px) {
  .gallery__images-3 img {
    margin-top: 24px;
  }
}
.gallery__wrapper h2 {  
  padding: 75px 0 51px;
}
@media screen and (max-width: 1024px) {
.gallery__wrapper h2 {
  padding: 60px 0 35px;      
  }
}
@media screen and (max-width: 768px) {
  .gallery__wrapper h2 {
    padding: 40px 0;      
    }
  }
.gallery__images img {     
   width: calc(1/3*100% - (1 - 1/3)*36px);
  margin-top: 24px; 
}

 /* Buy tickets */

 .buy-image-1 {
  margin-bottom: 75px;
}
@media screen and (max-width: 1024px) {
 .buy-image-1 {
   width: 700px;
   height: 440px;
   margin: 0 80px 60px 0;
 }
}
@media screen and (max-width: 768px) {
  .buy-image-1 {
    width: 444px;
    height: auto;    
    margin: 0 60px 130px 0;
  }
 }
 @media screen and (max-width: 420px) {
  .buy-image-1 {
    display: none;
  }
 }
 .buy-image-2 {
   display: none;
 }
 @media screen and (max-width: 420px) {
  .buy-image-2 {
    display: block;
    margin-bottom: 40px;
  }
 }
 .parallax1 {
   max-width: 100%;
 }
 @media screen and (max-width: 420px) {
  .parallax1 {
    display: none;
  }
 }
 .parallax2 {
   display: none;
 }
 @media screen and (max-width: 420px) {
  .parallax2 {
    display: block;
  }
 }
 .buying {
   display: flex;   
 } 
 @media screen and (max-width: 420px) {
  .buying {
    display: block;
    text-align: center;
  }
 }
 .ticket__type fieldset {
   display: flex;
   flex-direction: column;
   border: none;
   padding: 0 235px 0 60px;
 } 
 @media screen and (max-width: 1024px) {
  .ticket__type {
    display: none;
  }
}
.ticket__type legend {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 50px;
  padding: 0;
}
 .radio {
   display: flex;
   align-items: center;
   margin-bottom: 25px;
 }
 .radio input {
   margin-right: 23px;
 }
 /* input[type="radio"]:checked {
   background-color: #000000;
 } */ 
 
  .buying__button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #DBDBDB;
    width: 150px;
    height: 50px;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 0px;
    font-family: Roboto;
    margin: 15px 0 10px;
  }
  @media screen and (max-width: 1024px) {
    .buying__button {
      width: 175px;
      height: 50px;
    }
  }
  .buying__button button {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    border: none;
    background: #DBDBDB;
  }
  .buying__amount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
  }
  @media screen and (max-width: 1024px) {
    .buying__amount {
      align-items: flex-start;
      padding-right: 29px;
    }
  }
  @media screen and (max-width: 420px) {
    .buying__amount {
      padding: 0;
      margin: 40px 102px;
      align-items: center;
    }
  }
  .buying__amount h4 {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    margin: 0 0 25px;
  }
  @media screen and (max-width: 420px) {
    .buying__amount h4 {
      font-size: 16px;
      line-height: 19px;           
    }
  }
  @media screen and (max-width: 420px) {
    .buying__amount-order p {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      margin: 20px 0 15px 0;

    }
  }
  @media screen and (max-width: 420px) {
    .buying__amount-order  {
      text-align: start;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
    }
  }
  .buying__amount-total {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;   
    letter-spacing: 1.65px;
    margin: 50px 0 60px;
  }  
  @media screen and (max-width: 1024px) {
    .buying__amount-total {
      font-size: 16px;
      line-height: 19px;
    }
  }
  @media screen and (max-width: 420px) {
    .buying__amount-total {
      margin: 40px 0;      
    }
  }
  .buying__amount input {
    width: 175px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;    
    letter-spacing: 2px;
    color: #ffffff;
        
  }
  .buying__amount input:hover {
    background: #9D8665;
    color: #000000;
  }

 /* contact */

 .contact__wrapper {
   display: flex;
   justify-content: space-between;
   margin-top: 75px;
   padding-bottom: 74px;
 } 
 @media screen and (max-width: 768px) {
  .contact__wrapper {
    flex-direction: column;
    margin: 0;
    padding-bottom: 67px; 
  }
}
@media screen and (max-width: 420px) {
  .contact__wrapper {
    flex-direction: column;
    margin: 0;
    padding-bottom: 40px; 
  }
}
 .map-1 {
   width: 66.6%;
 }
 @media screen and (max-width: 768px) {
  .map-1 {
    width: 728px;
    height: auto;
    margin: 25px 0 0;
  }
 }
 @media screen and (max-width: 768px) {
  .map-1 {
    width: 728px;
    height: auto;
    margin: 25px 0 0;
  }
 }
 @media screen and (max-width: 420px) {
  .map-1 {
    display: none;
  }
 }
 .map-2 {
  display: none;
}
 @media screen and (max-width: 420px) {
  .map-2 {
    display: block;
    margin: 25px 0 0;
  }
 } 
 .contact-us span {
    width: 230px;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;    
 }
 @media screen and (max-width: 1024px) {
  .contact-us span {
    font-size: 24px;
    line-height: 28px;    
  }
}
@media screen and (max-width: 768px) {
  .contact-us span {
    font-size: 20px;
    line-height: 23px;    
  }
}
@media screen and (max-width: 420px) {
  .contact-us span {
    font-size: 16px;
    line-height: 19px;    
  }
}
 .contact-us a {
   display: block;
   color: #000000;
   margin: 25px 0;
   text-decoration: none;
 }
 @media screen and (max-width: 1024px) {
  .contact-us a {
    font-size: 20px;
    line-height: 23px;
    margin: 15px 0;
  }
}
@media screen and (max-width: 768px) {
  .contact-us a {
    font-size: 18px;
    line-height: 21px;
    margin: 15px 0;
  }
}
@media screen and (max-width: 420px) {
  .contact-us a {
    font-size: 16px;
    line-height: 19px;    
  }
}
.contact-us p {
  margin: 50px 0 0;
}
@media screen and (max-width: 1024px) {
  .contact-us p {
    font-size: 20px;
    line-height: 23px;
    margin: 35px 0 0;
  }
}
@media screen and (max-width: 768px) {
  .contact-us p {
    font-size: 18px;
    line-height: 21px;
    margin: 40px 0 0;
  }
}

 /* footer */

 .footer__logo {
   display: flex;
 }
 .footer__logo img {
   width: 49px;
   align-self: flex-start;
   margin-right: 25px;
 }
 .footer__logo span {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
 }
 .footer__escape_up {
   display: flex;   
   justify-content: space-between; 
   align-items: center;
   padding: 84px 0  50px;
 } 
 @media screen and (max-width: 1024px) {
  .footer__escape_up {
    padding: 65px 0 50px;
  }
}
@media screen and (max-width: 768px) {
  .footer__escape_up {
    flex-wrap: wrap;
    padding: 40px 0;
  }
}
 .footer__nav a {
   align-self: start;   
 }
 .footer__nav {
   display: flex;      /
   max-width: 363px;
   height: 128px;          
 } 
 @media screen and (max-width: 1024px) {
  .footer__nav {
    margin-right: 92px;
  }
}
 .footer__nav ul {
   padding: 0;
 }
  .footer-item {
   margin-bottom: 25px;   
 } 
 .navigation__footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
 }
 .navigation__footer_1 {
   margin: 0 150px 0;
 }
 @media screen and (max-width: 1024px) {
  .navigation__footer_1 {
    margin: 0 100px 0 45px;
  }
}
@media screen and (max-width: 768px) {
  .navigation__footer_1 {
    margin-left: 100px;
  }
}
@media screen and (max-width: 768px) {
  .navigation__footer {
    font-size: 16px;
    line-height: 19px;
  }
}
.footer__social {
  display: flex;
  align-self: end;
 }
 @media screen and (max-width: 1024px) {
  .footer__social {
    margin-left: 92px;
  }
}
@media screen and (max-width: 768px) {
  .footer__social {
    margin: 50px 0 0 298px;
  }
}
 .footer__social a {
  margin-right: 25px;
 }
 .footer__social a:last-child {
   margin-right: 0;
 }
 .footer hr {
   max-width: 1920px;
   background: #666666;
   margin: 25px 0 50px;
 }
 @media screen and (max-width: 1024px) {
  .footer hr {
    margin: 0;
  }
} 
 .last-string {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 52px;
 }
 @media screen and (max-width: 1024px) {
  .last-string {
    padding: 50px;
  }
} 
@media screen and (max-width: 768px) {
  .last-string {    
    padding: 40px 0;
  }
} 
.last-string p {
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

 